@import url("https://altur-ui.netlify.app/stylesheets/main.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

:root {
    --insta-yellow: #ffe341;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: 'Poppins', sans-serif;
}

.stick-bottom {
    min-height: 100vh;
}

.product-list {
    background-color: var(--white);
}

.products {
    max-width: 80%;
    flex-wrap: wrap;
}

.products-length {
    color: var(--green-500);
}

.productList-header {
    padding: 2rem;
 }

 .productList-header h4 {
     margin-top: 1rem;
 }

 .wishlist-products {
    max-width: 100%;
}

.redirect-button {
    padding: 0.5rem 1rem;
    background-color: var(--green-400);
    border-color: transparent;
 }

 .center-heading-text {
    text-align: center; 
    margin: 1rem;
 }

.container {
    margin-top: 2rem;
}

input[type="checkbox"] {
    width: max-content;
}

