@import url("https://altur-ui.netlify.app/stylesheets/main.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

:root {
    --insta-yellow: #ffe341;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: 'Poppins', sans-serif;
}

.stick-bottom {
    min-height: 100vh;
}

.product-list {
    display: flex;
    background-color: var(--white);
}

.products {
    max-width: 80%;
    flex-wrap: wrap;
}

.products-length {
    color: var(--green-500);
}

.productList-header {
    padding: 2rem;
 }

 .productList-header h4 {
     margin-top: 1rem;
 }

 .wishlist-products {
    max-width: 100%;
}

.redirect-button {
    padding: 0.5rem 1rem;
    background-color: var(--green-400);
    border-color: transparent;
 }

 .center-heading-text {
    text-align: center; 
    margin: 1rem;
 }

 .login-header {
    margin-top: 2rem;
}

.login-form {
    margin: 2.5rem 0rem;
    background-color: var(--white);
    padding: 5rem;
    gap: 1rem;
}

.login-input {
    width: 20rem;
    padding: 0.5rem;
}

.signup {
    color: var(--black);
    margin-left: 2.75rem;
}

.signup-link {
    color: var(--green-500);
}

.signup-link:hover {
    color: var(--green-600);
}

.login-form .primary-btn {
    background-color: var(--green-500);
}

.login-form .primary-btn:hover {
    background-color: var(--green-600);
}

.container {
    margin-top: 2rem;
}

.signup-form {
    margin-top: 2rem;
    gap: 2rem;
}

.signup-input {
    border-radius: 5px;
    padding: 7px;
    width: 18rem;
}

.signup-form .primary-btn {
    background-color: var(--green-500);
}

.signup-form .primary-btn:hover {
    background-color: var(--green-600);
}


input[type="checkbox"] {
    width: max-content;
}

.filter-div {
    max-width: 20%;
    min-width: 15rem;
}

@media only screen and (max-width: 500px) {

    .product-list {
        flex-wrap: wrap;
    }

    .filter-div {
        width: 90vw;
    }
}

